<!DOCTYPE html>
<html>
	<title>Cerca casa a Venezia!</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/static/css/w3s.css">
	<link rel="stylesheet" href="/static/css/s.css">


	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
		 integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
		 crossorigin=""/>
	 <!-- Make sure you put this AFTER Leaflet's CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol/dist/L.Control.Locate.min.css" />

	<!-- Make sure you put this AFTER Leaflet's CSS -->
	<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
		 integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
		 crossorigin=""></script>
	<script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol/dist/L.Control.Locate.min.js" charset="utf-8"></script>
	<!-- PROVIDERS FOR DIFFERENT MAP TYPES -->
	<script src="/static/js/leaflet-providers.js"></script>
	<!-- Our own (little) javascript library. -->
	<script src="/static/js/v4w.js"></script>
<body>


	<!-- DIV CON LA MAPPA -->
	<div id="mapid">
		<script>
			var whichmap = "osm";
			var mymap = L.map('mapid').setView([45.43, 12.33], 13);
			var OpenStreetMap_DE = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
			maxZoom: 20,
			zoomControl: false,
			attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
			}).addTo(mymap);
			//OpenStreetMap_DE = L.tileLayer.provider('Stamen.Watercolor').addTo(mymap);
			// Zoom buttons to the bottom right
			mymap.zoomControl.setPosition('bottomright');
			// a random marker to show a markers are used
			//var marker = L.marker([45.43, 12.33]).addTo(mymap);
			//var marker;
			//var circle;
			//var marker_arrivo;
			//var lc =
			L.control.locate({
		    position: 'bottomright',
		    strings: {
		        title: "Show me where I am, yo!"
		    }
				}).addTo(mymap);
		</script>
	</div>

		<!-- DIV IN ALTO A SINISTRA - QUI LA BARRA DI RICERCA -->
		<!-- per essere cliccato e usato da telefono, deve stare fuori dalla mappa! Se no l'utente clicca la mappa e non la barra di ricerca! -->
		<div class="leaflet-top leaflet-left" id="searchbar">
			<div class="searchfield leaflet-control w3-medium">
				<form id="ricerca_ind" action="" method="POST">
					<input type="text"  placeholder="cerca.." name="partenza">
					<button class="btn srcbtn v4wbtn" type="submit" form="ricerca_ind" ><i class="fa fa-search"></i></button>
				</form>
			</div>
		</div>
		<!-- DIV IN ALTO A DESTRA - QUI IL PULSANTE DI AIUTO -->
		<div class="leaflet-top leaflet-right onlyMap">
			<a onclick="showHelpWindow()">
				<div class="leaflet-control w3-medium">
					<button class="btn v4wbtn"><i class="fa fa-question"></i></button>
				</div>
			</a>
		</div>
		<!-- DIV IN BASSO A SINISTRA - TIPO MAPPA -->
		<div class="leaflet-bottom leaflet-left onlyMap">
			<a onclick="changeMap(whichmap)">
				<div class="leaflet-control maptype w3-medium">
					<button class="btn v4wbtn mapbtn"><i class="fa fa-map"></i></button>
				</div>
			</a>
		</div>
		<!-- DIV IN BASSO A DESTRA - GEO-LOCALIZZZIONE
		<div class="leaflet-bottom leaflet-right">
			<a onclick="locateUser(mymap, marker, circle)">
				<div class="leaflet-control aboveZoom w3-medium">
					<button class="btn v4wbtn"><i class="fa fa-location-arrow"></i></button>
				</div>
			</a>
		</div>
		-->

	<div class="helpwindowpopup" id="helpwindow">
		<a onclick="closeHelpWindow()"><button class="btn v4wbtn Xbtn"><i class="fa fa-close"></i></button></a>
		<p class="w3-medium"><b>COSA POSSO FARE?</b></p><br>
		<p class="w3-small">Cerca il tuo indirizzo, inserendo SESTIERE e NUMERO CIVICO.<br>
		<br>
		Ad esempio, Cannaregio 5218.<br>
		<br>
		Al momento, alcuni indirizzi non sono trovabili usando un'area della città (ad esempio Santa Marta), ma bisogna usare il sestiere (esempio precedente, Dorsoduro).<br>
		Nel caso in cui l'indirizzo effettivamente non sia stato trovato, contattateci!<br>
		Un form per il feedback verrà rilasciato a breve.<br>
		<br>
		Buona giornata.<br>
		I fioi.<br>

		<br>
		<a onclick="closeHelpWindow()"><button class="btn closebutton">HO CAPITO</button></a>
		</p>

	</div>


<script>
  closeHelpWindow();
	if ({{start_coordx}} > 0) {
    marker_arrivo = L.marker([{{start_coordx}}, {{start_coordy}}]).addTo(mymap);
    mymap.setView([{{start_coordx}}, {{start_coordy}}], 18);
	}
</script>

</body>
</html>

</body>
</html>
